{% extends "base.html" %}
{% block title %}{{ act.identifier }}{% endblock %}
{% block top_pane_title %}{{ act.identifier }}{% endblock %}
{% block body %}
    <div class="lr_pane">
        <div class="left_pane">
            <div class="toc_container">
                <div class="toc_title">Tartalomjegyzék</div>
                {{ toc_str | safe }}
            </div>
        </div>
        <div class="right_pane">
            <div class="right_pane_wrapper">
                <div id="act_body" class="act_body">
                    {{ act_str | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        'use strict';
        $(function(){
            add_snippet_handlers($('#act_body'));
            set_up_hash_change_scrolling();
            scroll_to_hash();
        });
    </script>
{% endblock %}
