body {
    font-family: sans;
    font-size: 12pt;
    text-align: center;
    line-height: 1.5;
    background: #ddd;
    padding: 0px;
    margin: 0px;
}

a {
    color: #008;
}

div {
    margin: 0px;
    padding: 0px;
}

blockquote {
    margin: 0px 0px 0px 00px;
    padding: 0px;
}

.index_container{
    max-width: 950px;
    border: 1px solid gray;
    display: inline-block;
    background: white;
    padding: 30px 80px 30px 80px;
    text-align: justify;
    box-shadow: 5px 5px 10px #888888;
}

.index_container td{
    vertical-align: top;
}

.index_container tr:nth-child(even) {
    background-color: #f0f0f0;
}

@media not print {
    .act_container {
        max-width: 950px;
        border: 1px solid gray;
        display: inline-block;
        background: white;
        padding: 30px 80px 30px 80px;
        text-align: justify;
        box-shadow: 5px 5px 10px #888888;
    }
}

@media print {
    .act_container {
        text-align: justify;
    }
}

.act_title, .preamble {
    margin-bottom: 2em;
}


.se_book, .se_part, .se_chapter, .se_title, .se_subtitle {
    margin-top: 2em;
    margin-bottom: 1.5em;
    margin-left: 120px;
}

.act_title {
    font-size: 18pt;
    font-weight: bold;
    margin: 20px 20px 30px 0px;
}

.preamble {
    margin-bottom: 1.5em;
    text-align: justify;
}

.se_book {
    font-size: 16pt;
    font-weight: bold;
}

.se_part {
    font-size: 16pt;
}

.se_chapter, .se_title {
    font-size: 14pt;
    font-style: italic;
}

.se_subtitle {
    font-weight: bold;
}

.article_identifier {
    font-weight: bold;
}
.article_body {
    margin: -1.5em 0px 1.5em 80px;
}
.article_title {
    font-style: italic;
    margin: 0px 0px 0px 40px;
}
.sae_identifier {
    min-height: 1.5em;
}
.sae_body {
    margin: -1.5em 0px 0px 40px;
    min-height: 1.5em;
}

.blockamendment_text {
    font-style: italic;

}
.blockamendment_container {
    display: inline-block;
}

.quote_in_paragraph, .quote_in_article {
    font-size: 10pt;
}

:target {
   background-color: #ffffc0;
}
