body {
    font-family: sans;
    font-size: 12pt;
    line-height: 1.5;
    background: #ddd;
    padding: 0px;
    margin: 0px;
}

a {
    color: #008;
}

div {
    margin: 0px;
    padding: 0px;
}

blockquote {
    margin: 0px 0px 0px 00px;
    padding: 0px;
    font-size: 10pt;
}

.index_container{
    max-width: 950px;
    border: 1px solid gray;
    display: inline-block;
    background: white;
    padding: 30px 80px 30px 80px;
    text-align: justify;
    box-shadow: 5px 5px 10px #888888;
}

.index_container td{
    vertical-align: top;
}

.index_container tr:nth-child(even) {
    background-color: #f0f0f0;
}

.panes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left_pane {
    width: 400px;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px #888888;
    border-right: 1px solid black;
    background: white;
}

.right_pane {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    text-align: center;
}

.right_pane_wrapper {
    height: auto;
    width: auto;
    position: relative;
}

.toc_container {
    margin: 20px;
}
.toc_title {
    font-size: 14pt;
    font-weight: bold;
    margin: 1em 0px 1em 0px;
}

.toc_elem_container {
    padding-bottom: 1em;
    padding-left: 20px;
}

.act_body {
    max-width: 1000px;
    border: 1px solid gray;
    display: inline-block;
    background: white;
    padding: 30px 120px 30px 60px;
    text-align: justify;
    box-shadow: 5px 5px 10px #888888;
}

.act_title, .preamble {
    margin-bottom: 2em;
}


.se_book, .se_part, .se_chapter, .se_title, .se_subtitle {
    margin-top: 2em;
    margin-bottom: 1.5em;
    margin-left: 120px;
}

.act_title {
    font-size: 18pt;
    font-weight: bold;
    margin: 20px 20px 30px 0px;
}

.preamble {
    margin-bottom: 1.5em;
    text-align: justify;
}

.se_book {
    font-size: 16pt;
    font-weight: bold;
}

.se_part {
    font-size: 16pt;
}

.se_chapter, .se_title {
    font-size: 14pt;
    font-style: italic;
}

.se_subtitle {
    font-weight: bold;
}

.article_identifier {
    font-weight: bold;
}
.article_body {
    margin: -1.5em 0px 1.5em 80px;
}
.article_title {
    font-style: italic;
    margin: 0px 0px 0px 40px;
}
.article_container, .sae_container {
    width: 100%
}
.sae_identifier {
    min-height: 1.5em;
}
.sae_body {
    margin: -1.5em 0px 0px 40px;
    min-height: 1.5em;
}
.sae_incoming {
    margin: -1.5em -80px 0px 0px;
    padding: 0px 5px 0px 5px;
    float: right;
    background: #F0F0FF;
    border-radius: 3px;
    border: 1px solid #00F;
    cursor: pointer;
    color: #008;
}

.blockamendment_text {
    font-style: italic;

}
.blockamendment_container {
    display: inline-block;
}

.snippet_container {
    position: absolute;
    max-width: 700px;
    border: 1px solid gray;
    background: white;
    padding: 10px;
    text-align: justify;
    box-shadow: 5px 5px 10px #888888;
}

:target {
   background-color: #ffffc0;
}
